<div class="d-flex flex-column align-items-center">
  <p class=" title-responsive my-2 ">Registrati su RoomMates e scopri i nostri servizi</p>
  <p class=" title-responsive my-2 ">Scopri i nostri servizi</p>
  <a class="my-3 btn btn-primary" routerLink="/auth/register">Registrati</a>
</div>
<div class="d-flex flex-column align-items-center">
  <p class="title-responsive my-2 ">Sei già un RoomMates?</p>
  <p class="title-responsive my-2 ">
    accedi con i tuoi dati
  </p>
  <a class="my-3 btn btn-primary" routerLink="/auth/login">Accedi</a>
</div>
<router-outlet></router-outlet>
