<div class="container-fluid mt-5 glass">
  <p class="h1 text-center">I Nostri Servizi</p>

  <p class="text-responsive pt-5">RoomMates offre una vasta gamma di servizi progettati per semplificare la convivenza e
    migliorare la vita quotidiana
    dei coinquilini. Grazie alla nostra web app intuitiva e completa, puoi gestire ogni aspetto della convivenza in modo
    efficiente e senza stress. Ecco un'anteprima dei principali servizi offerti da RoomMates:>
  </p>
  <p class="text-responsive pt-5">
    <span class="d-block text-center h4 mb-2">Gestione Bollette</span>

    Dimentica le lunghe discussioni e le complicazioni nella suddivisione delle spese. Con RoomMates, puoi gestire le
    bollette in modo rapido e trasparente. La nostra piattaforma ti consente di registrare le spese, dividere i costi
    equamente tra i coinquilini e monitorare i pagamenti in tempo reale. Addio ai malintesi e alle tensioni finanziarie!
  </p>
  <p class="text-responsive pt-5">
    <span class="d-block text-center h4 mb-2">Turnistica</span>

    Organizzare turni per la pulizia, le spese comuni e altri compiti domestici non è mai stato così facile. RoomMates
    ti permette di creare e gestire turni in modo flessibile e personalizzato. Assegna compiti, stabilisci scadenze per
    assicurarti che tutto venga fatto in modo efficiente e senza intoppi. Condividere
    le responsabilità non è mai stato così semplice!
  </p>
  <p class="text-responsive pt-5">
    <span class="d-block text-center h4 mb-2">Gestione Tasks</span>

    Con la nostra funzione di gestione dei task, puoi organizzare e assegnare compiti specifici ai membri del tuo
    gruppo. Che si tratti di fare la spesa, riparare un elettrodomestico o pianificare una serata di film, RoomMates ti
    aiuta a tenere traccia di ogni compito e a garantire che nulla venga trascurato. Mai più dimenticanze o
    fraintendimenti: con RoomMates, tutto è sotto controllo.
  </p>
  <p class="text-responsive pt-5">
    <span class="d-block text-center h4 mb-2">Proposte</span>

    E se tutto ciò non bastasse la nostra WebApp da anche la possibilità di fare proposte di natura libera a qualunque dei tuoi coinquilini,
    praticamente l'unico limite è il cielo
  </p>

</div>
