<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer id="footer-container" class="text-center text-lg-start text-dark">
    <!-- Section: Social media -->
    <section class="d-flex social-bar justify-content-between p-4 text-white">
      <!-- Left -->
      <div class="me-5 left">
        <span class="text-center">Rimani sempre aggiornato sulle nuove realease</span>
      </div>
      <!-- Left -->

    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">RoomMates ®</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              RoomMates è nata quasi come un esigenza, dopo anni di lavoro fuori casa, lavoro stagionale, ho notato come
              basti veramente poco per
              riuscire a rompere i delicati equilibri che ci sono tra i coinquilini. Per questo è nata come missione per
              avvicinare persone che litigano
              per cose stupide semplicemente perchè non messe in chiaro.

              <a [routerLink]="'/auth/register'">Registrati Ora!</a>


            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Sezioni</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a [routerLink]="'/auth'" class="text-dark">Autenticazione</a>
            </p>
            <p>
              <a [routerLink]="'/chisono'" class="text-dark">Chi Sono</a>
            </p>
            <p>
              <a [routerLink]="'/servizi'" class="text-dark">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fas fa-home mr-3"></i>Via Francesco Giramo, 29</p>
            <p><i class="fas fa-envelope mr-3"></i>davide1193&#64;gmail.com </p>
            <p><i class="fas fa-phone mr-3"></i> + 346 62 699 05</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <div class="text-center footer-bottom p-3">

    </div>
    <p class="text-center">© 2024 RoomMates. Tutti i diritti riservati.
    </p>
  </footer>
</div>
