<div class="container-fluid glass">
  <h1 class="text-center">Chi Sono</h1>
  <h4 class="text-center">Davide D'Amario Junior FullStack Developer</h4>
  <p class="text-responsive text-center">
    Ciao!  Sono entusiasta di condividere con te la mia storia e la mia passione per il mondo dei
    videogiochi, dell'informatica, dello sport e della comicità.
    </p>
  <p class="text-responsive text-center">
    Fin da giovane, ho coltivato una profonda passione per i videogiochi, passando ore immerso in mondi virtuali e
    affrontando sfide sempre nuove. Questa passione mi ha portato a sviluppare un interesse per l'informatica,
    spingendomi ad approfondire le mie conoscenze e a scoprire le infinite possibilità offerte dalla tecnologia.
    </p>

  <p class="text-responsive text-center">
    Ma la mia vita non si è limitata al mondo digitale. Ho sempre amato lo sport, sia come spettatore che come
    praticante. Sia che si tratti di calcio, basket o corsa, lo sport è sempre stato parte integrante della mia vita,
    insegnandomi il valore del duro lavoro, della disciplina e della determinazione.

    </p>
  <p class="text-responsive text-center">
    Inoltre, ho sempre avuto una grande passione per la comicità. Adoro far sorridere gli altri e creare un'atmosfera di
    allegria e spensieratezza. La capacità di far ridere le persone è un dono che ho coltivato nel tempo e che mi ha
    portato molte soddisfazioni.

    Dopo aver svolto diversi lavori, tra cui l'animazione turistica e il barista, ho realizzato che volevo mettere in
    pratica le mie passioni e le mie competenze per creare qualcosa di significativo. È così che è nata l'idea di
    RoomMates, una web app progettata per semplificare la convivenza tra coinquilini.
  </p>
</div>
