<div class="dash-header mb-3 p-3 glass d-flex flex-column align-items-center mt-4">
  <p class="title-responsive">Benvenuto {{ this.user.username}} </p>
  <div class="d-flex flex-row flex-wrap w-100 gap-2 justify-content-around">
    <a [routerLink]="'/dashboard'" class="btn btn-primary">Profilo</a>
    <a [routerLink]="'/'" class="btn btn-primary">Bollette</a>
    <a [routerLink]="'/dashboard/turni'" class="btn btn-primary">Turni</a>
    <a [routerLink]="'/dashboard/proposte'" class="btn btn-primary">Proposte</a>
    <a [routerLink]="'/dashboard/compiti'" class="btn btn-primary">Compiti</a>
  </div>
</div>
