<div id="welcome-wrapper" class="container-fluid">
  <div class="main-title my-5 me-4">
    <h1 class="text-end mb-3 ">Benvenuti in RoomMates</h1>
    <h2 class="text-end mb-3 ">Non sprecare tempo a litigare, usalo meglio!</h2>
    <p class="text-responsive mt-4 pt-4">
      Sei stufo di litigare con i tuoi coinquilini per le bollette? Ti senti sempre sotto pressione per organizzare i
      turni di pulizia? <span class="text-primary fw-bold fs-4">RoomMates</span> è qui per risolvere tutti i tuoi
      problemi di convivenza!
    </p>
    <p class="text-responsive mt-4 pt-4 text-end">
      Con la nostra web app intuitiva e facile da usare, gestire le spese comuni non è mai stato così semplice. Che si
      tratti di bollette, turni di pulizia o altro, <span class="text-primary fw-bold fs-4">RoomMates</span> ti offre
      una soluzione
      completa per mantenere la pace e l'armonia nella tua casa condivisa.
    </p>
    <p class="text-responsive mt-4 pt-4">
      Dimentica gli screzi su chi deve pagare cosa o quando tocca a chi pulire. Grazie alle funzionalità avanzate di
      <span class="text-primary fw-bold fs-4">RoomMates</span>, potrai dividere equamente le spese, pianificare i turni
      di pulizia in modo efficiente e persino
      ricevere notifiche per ricordarti degli impegni condivisi.
    </p>
    <p class="text-responsive mt-4 pt-4 text-end">
      Unisciti a migliaia di coinquilini soddisfatti che hanno già scoperto il segreto di una convivenza serena e senza
      stress. Prova <span class="text-primary fw-bold fs-4">RoomMates</span> oggi stesso e trasforma la tua esperienza di vita condivisa!
    </p>
  </div>

</div>
